<div class="col s12">
    <div class="row">
        <div class="col s4">{{image}}</div>
        <div class="col s8">
            <div class="row">
                <div class="col s9">
                    <h4>{{title}}</h4>
                </div>
                <div class="col s3">
                    <h4>{{aveRating}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <h6>{{model}}</h4>
                </div>
                <div class="col s6">
                    <h4>{{sku}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s5">
                    {{savingAmount}}or{{savingsPercent}}
                </div>
                <div class="col s7">
                    <div class="row">
                        <div class="col s4">
                            <h4>{{msrp}}</h4>
                        </div>
                        <div class="col s4">
                            <h4>{{currentPrice}}</h4>
                        </div>
                        <div class="col s4">
                            <h4>{{openBoxPrice}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
