<li class="collection-item avatar">
    <div class="container itemCont">
        <div class="row">
            <div class="col s12 m3 thumbRow">
                <img src={{image}} class="imageElem" alt="">
            </div>
            <div class="col s12 m9">
                <div class="row">
                    <div class="col s12">
                        <a href={{link}}><span class="title">{{title}} </span><i class="material-icons">send</i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <span class="ratingSpan secondary-content">{{aveRating}}<i class="material-icons">grade</i>'s</span>
                        <p>SKU: {{sku}} Model: {{model}} <br>
                            MSRP: <span id="MSRP">${{msrp}} <br>
                            </span> Current Price: <span id="currentPrice">${{currentPrice}} <br>
                            </span> Open Box: <span id="openBoxPrice">${{openBoxPrice}}</span> <br>
                    </div>
                    <div class="col s12 m6">
                        <p class="right-align moneyValues">
                            DOLLARS OFF: ${{savingsAmount}} 
                            <br> SAVINGS: {{savingsPercent}}%
                            <br> <a class="waves-effect waves-light btn saveProduct" id={{sku}}><i class="material-icons left">save</i>Save This</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>